
<article class="h2-forridder-gap">
    <span class="forridder">OM OS</span>
    <h2 class="h2-display">Fra rejselyst til rejsebureau</h2>
    <img src="../om-os/omos2.jpg" alt="">
    <p class="paragraph-small">Vi har set flere hotelværelser end de fleste. Vores rejseoplevelser spænder vidt fra små, intime guesthouses hos lokale familier til nogle af verdens bedste hoteller. Vi har trang til at søge væk fra de mest betrådte stier, se diversiteten og kontrasten, mærke de lokales hverdag og lade oplevelserne røre noget i os. Det er jo lige præcis dét, rejser kan!

        Vores fælles rejse-CV tæller land nr. 46 på tværs af kontinenter. Lige fra eksotiske ø-grupper i Det Indiske Ocean til mere kulturprægede lande som Indien og Indonesien. 
        
        </p>
</article>