
<article>
    <div class="om-os-section">
        <div class="h2-forridder-gap">
            <span class="forridder">Vores historie</span>
            <h2 class="h2-display">Fra rejselyst til rejsebureau</h2>
        </div>
        
        <div class="scroll-effect">
            <p class="paragraph-small">Vi har set flere hotelværelser end de fleste. Vores rejseoplevelser spænder vidt fra små, intime guesthouses hos lokale familier til nogle af verdens bedste hoteller. Vi har trang til at søge væk fra de mest betrådte stier, se diversiteten og kontrasten, mærke de lokales hverdag og lade oplevelserne røre noget i os. Det er jo lige præcis dét, rejser kan! </p>
            <p class="paragraph-small">Vores fælles rejse-CV tæller land nr. 46 på tværs af kontinenter. Lige fra eksotiske ø-grupper i Det Indiske Ocean til mere kulturprægede lande som Indien og Indonesien. </p> 
            <br>
            <p class="paragraph-small">Hvert år tilføjer vi nye oplevelser til vores rejseunivers - både sammen og hver for sig. Vores holdning er, at der ikke er nogen rejseform, der er mere rigtig end andre, hvilket også afspejler sig i de lande, vi har rejst i. Vi er drevet af, hvad verden har at byde på. Det eksotiske, det ukendte, spændende kulturer, men mest af alt er vi drevet af at bidrage til noget større, sammensætte rejser og give dig nogle af de samme ultimative oplevelser, som vi selv har fået. </p>
            <br>
            <br>
            <h4 class="h4">Drømmerejser med omtanke</h4>
            <br>
            <br>
            <p class="paragraph-small">Hos Rejselyst vil vi opfylde drømme - store som små. Vi er et nichebureau, der skræddersyer oplevelsesrejser på tværs af prisklasser. Vores ekspertise er de oversøiske rejsemål, og hertil arrangerer vi både rejser for par, familier, solorejsende og virksomheder. </p> 
            <p class="paragraph-small">Vi udvikler selv vores rejsemål. Det betyder, at vi selv har været på stederne, inden vi sender dig afsted. Vi har derfor et personligt kendskab til vores portefølje og samarbejdspartnere, og vi ved, hvad vi kan tilbyde. For dig betyder det, at du får ekspertise, kvalitet, erfaring, sikkerhed og fordelagtige priser.</p>
            <br>
            <p class="paragraph-small">Vores fokus er især på hoteller, der er mere end bare et overnatningssted. Ja, faktisk vil vi gerne være med til at præge branchen i en retning, hvor ansvarlig turisme er noget, der tænkes over og tages stilling til. Derfor gør vi os ekstremt umage, når vi vælger destinationer, hoteller og udflugter. Hos Rejselyst vil du også opleve, at vi prioriterer de steder med et autentisk touch fremfor store kædehoteller.</p> 
            <p class="paragraph-small">Vi lægger vægt på, at hotellet tager ansvar - både for de ansatte og omgivelserne. Vores hjerter banker ubegrænset for dyrevelfærd, miljøet og ikke mindst for, at pengene investeres på en måde, så de synker dybere ned i samfundslagene på de forskellige destinationer.</p>
        </div>
    </div>
    <div class="om-os-img">
        <img src="../om-os/om_os.webp" alt="Tina og Matti og deres baby">
    </div>
    

</article>

<style>
    article {
        background: var(--surface-secondary);
        padding: 2.5rem;;
    }

    article {
    position: relative; /* Ensure the pseudo-element is positioned relative to the article */
    padding-top: 100px;
    width: 100vw; /* Full viewport width */
    margin-left: calc(50% - 50vw); /* Center the article to remove any padding from parent elements */
    }

    article::before {
        content: "";
        position: absolute;
        top: -3rem; /* Exceeds the top of the container by 5rem */
        left: 0;
        width: 100%;
        height: calc(100% + 5rem); /* Covers the entire height of the article plus 5rem */
        background-color: var(--surface-secondary); /* Background color */
        z-index: -1; /* Ensure the pseudo-element is behind other content */
    }

    .om-os-img img {
        position: sticky;
        top: 1rem;
        align-self: start;
    }

    img {
        max-width: 350px;
        max-height: auto;
        padding-top: var(--space-vertical-margin-small);
    }

    @media only screen and (min-width: 992px) {
        article {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr; 
            padding: var(--space-horisontal-margin-small) var(--space-vertical-margin-small);
            padding-bottom: 76rem;
            padding-top: 10rem;
            margin-top: -5rem;
            gap: var(--space-horisontal-margin-small);
            height: 810px;
            background: var(--surface-secondary);
        }

        article::before {
        top: -8rem;
        }

        .om-os-section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            grid-column: 1/2;
            gap: var(--space-horisontal-gap-medium, 20px);
        }

        .om-os-img {
            display: flex;
            justify-content: center;
            grid-column: 2/2;
        }

        .scroll-effect {
            max-width: 550px;
            }

        .paragraph-small {
            margin-bottom: 20px;
        }

        img {
        max-width: 550px;
        max-height: auto;
        }
    }
</style>




