<section id="postcard" class="wrapper">
    <div id="img-container">

        <div id="container-1" class="element">
            <img class="vertical" id="card1" src="../om-os/post1.webp" alt="Postkort1" width="" height=""> 
        </div>

        <div id="container-2" class="element">
            <img class="vertical" id="card2" src="../om-os/post2.webp" alt="Postkort2" width="" height=""> 
        </div>

        <div id="container-3" class="element">
            <img class="vertical" id="card3" src="../om-os/post3.webp" alt="Postkort3" width="" height=""> 
        </div>

        <div id="container-4" class="element">
            <img class="vertical" id="card3" src="../om-os/post4.webp" alt="Postkort4" width="" height=""> 
        </div>
        
    </div>
</section>

<style>
    section {
        width: 100%;
        height: 100vh;
        padding-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .element {
    position: absolute;
    }

    #foto2 {
    transform: rotate(5.803deg);
    }

    #foto1 {
        transform: rotate(-3.167deg);
    }

    #foto3 {
        transform: rotate(-10deg);
    }

    img {
        width: 60rem;
        height: auto;
    }



</style>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const tl = gsap.timeline({
        scrollTrigger: {
            trigger: "#postcard",
            start: "top 90%",  
            end: "bottom 70%",
            scrub: true,
        },
        onComplete: () => {
            enablePageScrolling();
        }
    });

    tl.fromTo("#container-1", 
        { rotateY: -10, rotateX: 35, y: -150, x: 0, skewX: -35, skewY: 10, opacity: 0 }, 
        { rotateY: 0, rotateX: 0, y: -80, x: 0, skewX: 0, skewY: 0, opacity: 1, ease: "power1.inOut", duration: 4 }
    )
    .fromTo("#container-2", 
        { rotateY: 20, rotateX: 35, y: -150, x: 0, skewX: -35, skewY: 10, opacity: 0 }, 
        { rotateY: 0, rotateX: 0, y: -70, x: 0, skewX: 0, skewY: 0, opacity: 1, ease: "power1.inOut", duration: 6 }
    )
    .fromTo("#container-3", 
        { rotateY: 20, rotateX: -35, y: -150, x: 0, skewX: -35, skewY: -10, opacity: 0 }, 
        { rotateY: 0, rotateX: 0, y: -47, x: 0, skewX: 0, skewY: 0, opacity: 1, ease: "power1.inOut", duration: 8 }
    )
    .fromTo("#container-4", 
        { rotateY: 20, rotateX: -35, y: -150, x: 0, skewX: -35, skewY: -10, opacity: 0 }, 
        { rotateY: 0, rotateX: 0, y: -47, x: 0, skewX: 0, skewY: 0, opacity: 1, ease: "power1.inOut", duration: 8 }
    );

    function enablePageScrolling() {
        ScrollTrigger.create({
            trigger: "#postcard",
            start: "top top",
            end: "bottom bottom",
            onLeaveBack: () => {
                ScrollTrigger.getById("postcard").kill(); 
            }
        });
    }
</script>