<article>
    <h2>Thomas Paaske Hansen</h2>
    <p class="paragraph-small">Med os har vi også Thomas. Thomas har været i rejsebranchen gennem årtier. Tidligere har han siddet i en stilling som leder i et andet rejsebureau. Han er 100 meter mester i alt, hvad der vedrører fly, dem kompromisløse kundekontakt - og service, og så elsker han at skræddersy og nørde rejser til de mere ukendte steder, som vores hjerter banker for. Han har skræddersyet rejser til alverdens lande og spændende kontinenter verden over, og vi er utroligt glade for at have ham som en del af Rejselyst.

        Det er Thomas, du skal have fat i, hvis du skal opleve Thailand. Han kender Thailand fra et andet perspektiv end det gængse. </p>
        <p class="category-bold">53 87 59 53</p>
        <p class="category-bold">thomas@rejselyst.dk</p>
    <img src="../om-os/thomas.jpg" alt="Thomas Paaske Hansen">
</article>

<style>
    article {
        background: var(--surface-secondary);
    }
</style>