---
import BTNPrimary from "../general/BTNPrimary.astro"
---
<section>

</section>

<style>
    section {
            background-color: var(--surface-secondary, #FFFFE9);
            padding-top: 500px;
            padding-bottom: 500px;
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

</style>