---
import BTNPrimary from "../general/BTNPrimary.astro"
---

<section class="travel-upper-section">
    <div class="second-travel-section">
    <div class="margin">
    <div class="travel-content">
        <div class="travel-text">
            <div class="familierejser">
                <span class="forridder">FAMILIEREJSER</span>
            </div>
            <h3 class="h3-display">En rejse med fokus på fællesskab</h3>
            <p class="paragraph-small">Craveiral Farmhouse er ethvert barns (og voksens) bondegårdsdrøm. Midt på en ødegård, hvor roen trænger ind gennem vinduerne, bor I side om side med naturen og dyrene. Hjælp med at fodre grise, æsler, heste og geder. Rid på hesteryg, kør en tur på pedaltraktor og deltag i madlavningskurser. Tag på mini-roadtrip en dag eller to og kig nærmere på Portugals afsides spots.</p>
            <div class="btn-container"><BTNPrimary data="LÆS MERE"/></div>
        </div>
        <div class="travel-image">
            <img src="../rejseforslag/craveiral-farmhouse.webp" alt="Noah Surf House, Portugal" width="" height="">
            <div>
                <span class="image-link">Craveiral Farmhouse, Portugal</span>
            </div>
        </div>
    </div>
</div>
</section>
</div>

<style>
     .btn-container {
    padding-top: var(--space-horisontal-gap-xlarge,30px);
    padding-bottom: var(--space-horisontal-gap-xlarge,30px);
}
    .image-link {
    color: black;
    font-family: "Be Vietnam Pro";
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.75px;
  text-decoration: none;
}

.image-link:hover {
    text-decoration: underline
  }

  .image-link:visited {
    color: black;
  }
    .margin {
        margin: 2.5rem;
    }

    .travel-text {
    padding-top: 20px;
}

.paragraph-small {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
}

    section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.travel-image {
    flex: 1;
}


img {
    height: 150%;
width: 120%;
}

@media only screen and (min-width: 992px) {

    .btn-container {
    padding-top: var(--space-horisontal-gap-xlarge,30px)
}

 .travel-sections {
padding-bottom: var(--space-horisontal---space-horisontal-gap-xsmall,10px);
padding-left: var(----space-vertical-gap-small,60px);

}

.familierejser {
    padding-bottom: var(--space-horisontal---space-horisontal-gap-xsmall,10px);
}


.paragraph-small {
    padding-top: var(--space-horisontal---space-horisontal-gap-small, 16px);
    padding-bottom: var(--space-horisontal-gap-xlarge, 30px);
    display: flex;
    list-style-type: none; /* Fjern punkttegn */
    padding: 0;
    margin: 0;
    padding-right: var(----space-vertical---space-vertical-gap-medium,50px);  
}


.travel-upper-section {
    display: flex;
    align-items: flex-start;
}

.travel-content {
    display: flex;
    align-items: flex-start; 
    padding-left: var(----space-vertical-gap-small,60px);
    padding-right: var(----space-vertical-gap-small,60px);
}

.travel-image {
    flex: 1;
}

.travel-text {
    flex: 2;
}

img {
    height: 150%;
width: 120%;
}


section {
            padding-top: 100px;
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


}

</style>

  
<script>

    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    gsap.registerPlugin(ScrollTrigger);

    gsap.from(".second-travel-section", {
        yPercent: 50,
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
            trigger: ".second-travel-section",
            start: "top 90%",  
            end: "bottom 50%", 
            scrub: true,
      }
    });

   

    </script>
     




