---
import BTNPrimary from "../general/BTNPrimary.astro"
---

<article>
        <section class="travel-upper-section">
            <div>
            <span class="forridder">REJSEFORSLAG</span>
                <div>
                    <h1 class="h1-display-small">Find din næste skræddersyede rejse her</h1>
                <div>
                    <p class="paragraph-small">Klik dig rundt i et univers fyldt med særligt håndplukkede destinationer og hoteller. Vi har sammensat forskellige rejseforslag, så du kan lade dig inspirere. De er blot til inspiration og kan til hver en tid skræddersyes og tilpasses dine ønsker. Du finder alt lige fra små, hyggelige guesthouses til nogle af verdens bedste hoteller</p>
                </div>
               </div>
            </div>
            <div>
                     <div>
            <img src="rejseforslag/rejseforslag-hero-img.png" alt="Hero-billede af dame der holder barn i junglen" width="" height="">
            <div>
           </div>
        </div>
        <div>
            
        </section>
            <section class="travel-upper-section">
        <div>
        <img src="rejseforslag/noahsurfhouse.png" alt="Noah Surf House, Portugal" width="" height="">
        <div>
        <div>
            <span class="image-link">Noah Surf House, Portugal</span>
        </div>
       </div>
    </div>
    <div>
        <div>
        <span class="forridder">FAMILIEREJSER</span>
            <div>
                <h3 class="h3-display">Oplev verdenen med dem du holder af</h3>
            <div>
                <p class="paragraph-small">Noah Surf House er et lille laidback surferhotel beliggende i byen Santa Cruz, hvor især surfing og udendørs aktiviteter er på programmet. Lige foran hotellet finder I nogle af de bedste surfbølger, så sæt kurs mod havet og stranden. Hæng ud ved poolen, kør mountainbike langs kysten, hop på trampolin og vis jeres skills på hotellets skaterrampe. Deltag også i fællessang og hygge om bålet om aftenen, hvor nye venskaber opstår.</p>
            </div>
            <div><BTNPrimary data="LÆS MERE"/></div>
           </div>
        </div>
        <div>    
    </section>

         
</section>

<section class="travel-upper-section">
    <div>
        <span class="forridder">FAMILIEREJSER</span>
            <div>
    <h3 class="h3-display">En rejse med fokus på fællesskab</h3>
<div>
    <p class="paragraph-small">Craveiral Farmhouse er ethvert barns (og voksens) bondegårdsdrøm. Midt på en ødegård, hvor roen trænger ind gennem vinduerne, bor I side om side med naturen og dyrene. Hjælp med at fodre grise, æsler, heste og geder. Rid på hesteryg, kør en tur på pedaltraktor og deltag i madlavningskurser. Tag på mini-roadtrip en dag eller to og kig nærmere på Portugals afsides spots.</p>
</div>
<div><BTNPrimary data="LÆS MERE"/></div>
</div>
</div>
<div> 
    <div>
<img src="rejseforslag/farmhouse.png" alt="Farhouse i Portugal" width="" height="">
<div>
<div>
<span class="image-link">Craveiral Farmhouse, Portugal</span>
</div>
</div>
</div>
<div>
<div>

</section>






</article>

<style>

    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;

    }

    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr;
    }


    @media only screen and (min-width: 992px) {
        
        
        .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

   
</style>