---
import BTNPrimary from "../general/BTNPrimary.astro"
---

<article>
        <section class="travel-upper-section">
            <div>
            <span class="forridder">REJSEFORSLAG</span>
                <div>
                    <h1 class="h1-display-small">Find din næste skræddersyede rejse her</h1>
                     <div>
                    <p class="paragraph-small header-p">Klik dig rundt i et univers fyldt med særligt håndplukkede destinationer og hoteller. Vi har sammensat forskellige rejseforslag, så du kan lade dig inspirere. De er blot til inspiration og kan til hver en tid skræddersyes og tilpasses dine ønsker. Du finder alt lige fra små, hyggelige guesthouses til nogle af verdens bedste hoteller</p>
                </div>
               </div>
            </div>
            <div>
                     <div>
            <img src="rejseforslag/rejseforslag-hero-img.png" alt="Hero-billede af dame der holder barn i junglen" width="" height="">
            <div>
           </div>
        </div>
        <div>
        </section>
</article>

<style>
    @media only screen and (min-width: 992px) {

    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;

    }

    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    p {
        padding-top: 3rem;
    }

    img {
        padding-bottom: 5rem;
        padding-left: 2rem;
    }
        
        .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

   
</style>