---
import BTNPrimary from "../general/BTNPrimary.astro"
---

<article>
        <section class="travel-upper-section">
            <div>
            <span class="forridder">REJSEFORSLAG</span>
                <div class="text">  <h1 class="h1-display-small">Find din næste <div class="h1-display-italic-small">skræddersyede</div>rejse her</h1>
                     <div>
                    <p class="paragraph-small header-p">Klik dig rundt i et univers fyldt med særligt håndplukkede destinationer og hoteller. Vi har sammensat forskellige rejseforslag, så du kan lade dig inspirere. De er blot til inspiration og kan til hver en tid skræddersyes og tilpasses dine ønsker. Du finder alt lige fra små, hyggelige guesthouses til nogle af verdens bedste hoteller</p>
                </div>
               </div>
            </div>
            <div>
                     <div>
            <img src="../rejseforslag/baby.webp" alt="Hero-billede af barn der går ved vandet" width="" height="">
            <div>
           </div>
        </div>
        <div>
        </section>
</article>

<style>

    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-horisontal-gap-xxxlarge, 80px);
    }

    .text-content {
        order: 2;
    }

    .image-content {
        order: 1;
        display: flex;
        justify-content: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .h1-display-small {
        padding-top: 1rem;
    }

    .paragraph-small {
        padding-top: 1rem;
    }


    @media only screen and (min-width: 992px) {
        
        article {
            position: relative;
        }

        article::before {
        content: "";
        position: absolute;
        top: 37rem; /* Exceeds the top of the container by 5rem */
        left: -4rem;
        width: 100vw;
        height: 100%; /* Covers the entire height of the article plus 5rem */
        background-color: var(--surface-secondary); /* Background color */
        z-index: -1; /* Ensure the pseudo-element is behind other content */
    }
    
    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;

    }

    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    p {
        padding-top: var(--space-horisontal-gap-xlarge);
    }

    img {

        width: auto;
        height: 100%;
        object-fit: cover;
    }
        
        .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .h1-display-small {
        padding-top: var(--space-horisontal-gap-xsmall);
    }


    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .text {
        gap: var(--space-horisontal-gap-xlarge, 30px);

    }
}

   
</style>