/* FONTE */
.h1-display {
  font-family: "Wulkan Display Regular";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}

.h1-display-small {
  font-family: "Wulkan Display";
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px; /* 100% */
}

.h1-display-italic {
  font-family: "Wulkan Display Italic";
  font-size: 70px;
  font-style: italic;
  font-weight: 400;
  line-height: 80px; /* 106.25% */
}

.h1-display-italic-small {
  font-family: "Wulkan Display Italic";
  font-size: 55px;
  font-style: italic;
  font-weight: 400;
  line-height: 65px;
}

.h2-display {
  font-family: "Wulkan Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.h3-display {
  font-family: "Wulkan Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 55px; /* 122.222% */
}

.h3-italic {
  font-family: "Wulkan Display";
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  line-height: 55px;
}

.h4 {
  font-family: "Be Vietnam Pro";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.h5-display {
  font-family: "Wulkan Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.h5-italic {
  font-family: "Wulkan Display";
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.h6 {
  font-family: "Be Vietnam Pro";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}
/* text + paragraphs */

.forridder {
  font-family: "Be Vietnam Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.75px;
}

.category-bold {
  font-family: "Be Vietnam Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paragraph-small {
  font-family: "Be Vietnam Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.paragraph-medium {
  font-family: "Be Vietnam Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.paragraph-large {
  font-family: "Be Vietnam Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 138.889% */
}

.inline-text {
  font-family: "Be Vietnam Pro";
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

/* buttons */

.button-text {
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 0.8px;
}

/* links */

.link-text-large {
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}

.link-text-small {
  font-family: "Be Vietnam Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.75px;
}

/*testimonials*/

.testimonial-text {
  font-family: "Be Vietnam Pro";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 128% */
}

.testimonial-name {
  font-family: "Be Vietnam Pro";
  font-size: 15px;
  font-style: italic;
  font-weight: 100;
  line-height: 28px; /* 186.667% */
}

/* forms */

.form-text {
  font-family: "Be Vietnam Pro";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 294.118% */
}

/*footer*/

.footer-text {
  font-family: "Be Vietnam Pro";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 147.059% */
}

.footer-text-mediumwidth {
  font-family: "Be Vietnam Pro";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 235.294% */
}

.footer-text-bold {
  font-family: "Be Vietnam Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 133.333% */
}
@media only screen and (min-width: 992px) {
  /* headings */

  .h1-display {
    font-family: "Wulkan Display Regular";
    font-size: 160px;
    font-style: normal;
    font-weight: 400;
    line-height: 170px;
  }

  .h1-display-small {
    font-family: "Wulkan Display";
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px; /* 100% */
  }

  .h1-display-italic {
    font-family: "Wulkan Display Italic";
    font-size: 160px;
    font-style: italic;
    font-weight: 400;
    line-height: 170px; /* 106.25% */
  }

  .h1-display-italic-small {
    font-family: "Wulkan Display Italic";
    font-size: 100px;
    font-style: italic;
    font-weight: 400;
    line-height: 100px;
  }

  .h2-display {
    font-family: "Wulkan Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .h3-display {
    font-family: "Wulkan Display";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px; /* 122.222% */
  }

  .h3-italic {
    font-family: "Wulkan Display";
    font-size: 45px;
    font-style: italic;
    font-weight: 700;
    line-height: 55px;
  }

  .h4 {
    font-family: "Be Vietnam Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
  }

  .h5-display {
    font-family: "Wulkan Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .h5-italic {
    font-family: "Wulkan Display";
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  .h6 {
    font-family: "Be Vietnam Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
  }
  /* text + paragraphs */

  .forridder {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
  }

  .category-bold {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .paragraph-small {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .paragraph-medium {
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .paragraph-large {
    font-family: "Be Vietnam Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 138.889% */
  }

  .inline-text {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  /* buttons */

  .button-text {
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
  }

  /* links */

  .link-text-large {
    font-family: "Be Vietnam Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
  }

  .link-text-small {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.75px;
  }

  /*testimonials*/

  .testimonial-text {
    font-family: "Be Vietnam Pro";
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 128% */
  }

  .testimonial-name {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    line-height: 28px; /* 186.667% */
  }

  /* forms */

  .form-text {
    font-family: "Be Vietnam Pro";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 294.118% */
  }

  /*footer*/

  .footer-text {
    font-family: "Be Vietnam Pro";
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 147.059% */
  }

  .footer-text-mediumwidth {
    font-family: "Be Vietnam Pro";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 235.294% */
  }

  .footer-text-bold {
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
  }
}
