---
const { data } = Astro.props;
---

<button>
    <p class="button-text">{data}</p>
    <img class="arrow" src="../svg/arrow4.svg" alt="">
    <img class="hoverArrow" src="../svg/arrow5.svg" alt="">
</button>

<style> 

    button {
        cursor: pointer;
        border: none;
        outline: none;
        display: inline-flex;
        padding: 10px 15px;
        align-items: center;
        gap: 50px;
        background-color: transparent;
        color: var(--text-button-text-primary-hover);
        border: 1px solid var(--components-button-secondary-background-default);
    }

    p {
    color: var(--components-button-text-primary-default);
    }
    button:hover {
    background-color: var(--surface-brand-contrast);
    color: var(--text-button-text-primary-hover);
    border: 1px solid var(--surface-brand-contrast);
    }


    button:hover p {
        color: var(--text-button-text-primary-default);
    }

    .arrow {
        display: block;
    }

    .hoverArrow {
        display: none;
        z-index: 1000;
    }

    button:hover .arrow {
        display: none;
    }

    button:hover .hoverArrow {
        display: block;
        z-index: 1000;
    }

</style>