---
const { data } = Astro.props;
---

<button>
    <p class="button-text">{data}</p>
    <img src="../svg/arrow4.svg" alt="">
</button>

<style> 

    button {
        cursor: pointer;
        border: none;
        outline: none;
        display: inline-flex;
        padding: 10px 15px;
        align-items: center;
        gap: 50px;
        background-color: var(--components-button-primary-background-default);
    }

    p {
    color: var(--components-button-text-primary-default);
    }
    button:hover {
    background-color: var(--components-button-primary-background-hover);
    }


    button:hover p {
        color: var(--button-text-primary-hover);
    }
</style>