---
import BTNPrimary from "./BTNPrimary.astro";
---

<header>
    <div class="menu-container">
        <div class="main-menu">
          <div class="logoContainer">
              <li><a href="/index.html"><img src="/svg/rejselyst..svg" class="logo" alt="Rejselyst logo"/></a></li>
              <div class="menu-left">
                <li><a class="menuBTN link-text-small" href="/rejseforslag.html"> REJSEFORSLAG</a></li>
                <li><a class="menuBTN link-text-small" href="/destinationer.html"> DESTINATIONER</a></li>
              </div>

          </div>

            <div class="icons">
              <ul>
                <li><a class="menuBTN" href="/kontaktos.html"><BTNPrimary data="KONTAKT OS"/></a></li>
                <li class="burger-menu"><img src="/svg/burgermenu.svg" alt="Burger-Menu" /></li>
              </ul>
            </div>
          </div>
    </div>

    <div class="overlaymenu-container">
        <div class="icons-close">
          <div class="overlayLogo">
            <li><a href="/index.html"><img src="/svg/rejselyst.sand.svg" class="logo" alt="Rejselyst logo"/></a></li>
            <li class="burger-menu2"><img src="/svg/x.svg" alt="Burger-Menu2" /></li>
          </div>
          <ul class="ulicons">
             
                <div class="storMenu">
                    <li><a class="h1-display-small" href="/rejseforslag.html">Rejseforslag</a></li>
                    <li><a class="h1-display-small" href="/omos.html">Om os</a></li>
                    <li><a class="h1-display-small" href="/destinationer.html">Destinationer</a></li>
                    <li><a class="h1-display-small" href="/kontaktos.html">Kontakt os</a></li>
              </div>
          </ul>
          </div>
    </div>

</header>

<style>

  .overlayLogo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
.ulicons, a {
  text-decoration: none;
}

  .menu-left, li {
    gap: var(--space-vertical-gap-small);
    align-self: left;
  }

  .menu-left {
    padding-left: var(--space-vertical-gap-medium);
  }

.logoContainer {
  display: flex;
  gap: var(--space-vertical-gap-medium);
  justify-content: center;
}
.main-menu {
  display: flex;
  justify-content: space-between;

}

  .menu-container {
      /* position: absolute; */
      z-index: 10000;
      width: 100%;
  }

  /* .overlayLogo a {
    position: absolute;
  } */
    header{
    list-style-type: none;
    z-index: 1000;
  }

  body.menu-open .menu-container {
      display: none;
  }
  .icons ul {
    display: flex;
    list-style-type: none; 
  }
  .burger-menu img, .burger-menu2 img {
      width: 40px;
      height: 40px;
  }

  .burger-menu,
  .burger-menu2 {
    cursor: pointer;
    transition: 0.5s ease;
  }

  .burger-menu:hover, .burger-menu2:hover {
    opacity: 0.7;
    transition: 0.5s ease;
  }

  .logo:hover {
    opacity: 0.7;
    transition: 0.5s ease;
  }

  body .open {
    transform: translateX(0);
  }

  .overlaymenu-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--surface-brand-contrast);
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.2s;
    z-index: 99;
  }

  .burger-menu2 {
    display: flex;
    justify-content: right;
    text-align: right;
    z-index: 2000;
  }

  .storMenu {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: var(--space-horisontal-margin-xsmall);
    padding: 3rem;
  }

  .storMenu a {
    color: var(--surface-secondary);
  }

  .icons-close ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    z-index: 1000;
  }

  .storMenu a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .icons-close a {
    display: block;
    z-index: 1000;
  }

  .menuBTN {
    display: none;
    text-decoration: none;
  }

  .menu-container, .overlaymenu-container {
    /* padding: 0px 60px; */
    padding: var(--space-horisontal-margin-xsmall, 40px)
  }


    @media screen and (min-width: 800px) {


      .menu-left {
        display: flex;
      }

      .menu-left a:hover {
        text-decoration: underline;
      }

      .menu-left a {
        color: var(--components-button-primary-background-default);
      }

      .icons {
        display: flex;
      }
      header {
      z-index: 1000;
      display: flex;
      gap: var(--space-vertical-gap-large);
      }

      .menuBTN {
      display: block;
    }

    .icons ul {
      gap: var(--space-vertical-gap-small);
    }

    .icons-close a {
    display: block;
    z-index: 1000;
  }

  }

</style>

<script>
  const overlaymenu = document.querySelector(".overlaymenu-container");
  const burgermenu = document.querySelector(".burger-menu");
  const close = document.querySelector(".burger-menu2");
  const close2 = document.querySelector("section");

  const some = document.querySelector(".SoMe")

  burgermenu.addEventListener("click", function () {
    overlaymenu.classList.add("open");
    document.body.classList.add("menu-open"); 
    some.classList.toggle("blue")
  });

  close.addEventListener("click", function () {
    overlaymenu.classList.remove("open");
    document.body.classList.remove("menu-open"); 
    some.classList.toggle("blue")

  });

  close2.addEventListener("click", function () {
    overlaymenu.classList.remove("open");
    document.body.classList.remove("menu-open");
  });

  overlaymenu.addEventListener("click", function () {
    overlaymenu.classList.remove("open");
    document.body.classList.remove("menu-open"); // Add this line
  });
</script>