---
import BTNPrimary from "./BTNPrimary.astro"
---

<article class="hero-second">
    <div class="instah3">
        <div>
            <h3 class="h3-display">Følg vores rejser på Instagram</h3>
            <p class="paragraph-medium">Lad dig inspirere til din næste rejse og nye oplevelser af vores hverdag i de fire verdenshjørner.</p>
        </div>

        <div class="instaBTN">
            <a href="https://www.instagram.com/rejselystdk/"><BTNPrimary data="BESØG @REJSELYST"/></a>
        </div>
        
    </div>
    
    <section class="insta-img">
      <img src="img/insta-1.png" alt="" class="instagram-media"/>
      <img src="img/insta-2.png" alt="" class="instagram-media">
      <img src="img/insta-3.png" alt="" class="instagram-media">
      <img src="img/insta-4.png" alt="" class="instagram-media">
    </section>
</article>

<style>

    article {
        padding-top: 2rem;
    }

    .insta-img {
        padding-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 20px;
            display: grid;
        grid-template-columns: 1fr 1fr;

        }

    .instagram-media {
        width: 100%;
        height: 100%;
        object-fit: cover;
  }

    .instah3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    @media only screen and (min-width: 992px) {

        article {
            display: flex;
            min-width: 1440px;
            align-items: flex-start;
            align-content: flex-start;
            gap: 0px 350px;
            flex-wrap: wrap;
            padding-top: 130px;
            padding-bottom: 130px;
        }

        .insta-img {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            gap: 40px;
            display: grid;
        grid-template-columns: 1fr 1fr  1fr 1fr;
        }

        .instah3 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr; 
        }

        .instaBTN {
            display: flex;
            justify-content: right;
            align-self: flex-end;
        }

        .instagram-media {
        width: 300px;
        height: 300px;
        object-fit: cover;
  }

  
    }
</style>