---
import BTNForm2 from "./BTNForm2.astro"
---
<article>
    <div class="newsletter">
        <h3 class="h3-display">Få tilbud og nyheder 
            om dine drømmerejser</h5>
            <p class="paragraph-small">Tilmeld dig nyhedsbrevet og få inspiration om nye destinationer, og bliv en del af vores rejsefællesskab. </p>

            <form action="Fornavn">Fornavn</form>
            <form action="Efternavn">Efternavn</form>
            <div class="newsletterBTN">
                <BTNForm2 data="TILMELD"/>
            </div>
            
    </div>
    <div>
        <img src="../img/newsletter.png" alt="">
    </div>
</article>

<style>

    .newsletter {
        background-color: var(--surface-brand-contrast);
    }

    h3 {
        color: var(--text-form-newsletter-heading-color);
    }

    p {
        color: var(--text-form-newsletter-heading-color);
    }

    @media only screen and (min-width: 992px) {
        article {
            display: flex;
            
        }

        .newsletter {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
