---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
---

<MainLayout title="Destinationer">
    <h1 class="h1-display">Destinationer</h1>
</MainLayout>