---
import MainLayout from "../layouts/MainLayout.astro"
import DestinationFacts from "../components/destinationer/DestinationFacts.astro"
import Newsletter from "../components/general/Newsletter.astro"
import InstagramSection from "../components/general/InstagramSection.astro"
import FirstTravelSection2 from "../components/destinationer/FirstTravelSection2.astro"
import TravelSection2 from "../components/destinationer/TravelSection2.astro"
import FirstTravelSection from "../components/index/FirstTravelSection.astro"
import Destination from "../components/destinationer/destinations.astro"
import Header from "../components/general/Header.astro"

const data = await fetch("https://zywerzwialywqwbenhax.supabase.co/rest/v1/destinations?id", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5d2VyendpYWx5d3F3YmVuaGF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1MzY1NTYsImV4cCI6MjAzMjExMjU1Nn0.qAjwQtmmuFvZc9VU5aDtI4V2bkN4XbsLcKKjq-xiPcM",
  },
}).then((res) => res.json())

console.log(data);
---

<MainLayout title="Destinationer">

  {data.map((show) => {
    return <Destination data={show} />
  })}
<Newsletter/>
<div class="margin">
<InstagramSection/>
</div>
</article>

</MainLayout>

<style>

img {
  max-width: 100%;
  height: auto;
}

.margin {
        margin:var(--space-horisontal-margin-small, 60px);
    }
</style>
