---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
---

<MainLayout title="Destinationer">
<section>
    <span>DESTINATIONER</span>
    <h1>Destination</h1>
</section>
</MainLayout>