---
import MainLayout from "../layouts/MainLayout.astro"
import TravelSection from "../components/destinationer/TravelSection.astro"
import TravelSection2 from "../components/destinationer/TravelSection2.astro"
---

<MainLayout title="Destinationer">
<article class="hero-second">
<section class="hero-heading">
    <span class="forridder">DESTINATIONER</span>
    <h1 class="h1-display">Maldiverne</h1>
</section>
<section class="hero-paragraph-img">
    <p class="paragraph-medium">Rejs til Maldiverne, hvor turkisblåt hav, svajende kokospalmer og kridhvide sandstrande skaber rammerne for uforglemmelige bounty-oplevelser og store smil på læberne. Maldiverne byder – bogstaveligt talt – på et hav af muligheder for at se farverige fisk, manta rays, stingrays, delfiner og skildpadder på åbent hav. Kom helt ned i gear eller tag snorkelmaske og svømmefødder på, hop i den turkise lagune og bliv klogere på livet under havoverfladen. Oplev verdens smukkeste strande, nyd en privat middag med fødderne i sandet, der er blødt som balsam og lilla-orangefarvede solnedgange, du aldrig vil glemme.</p>
    <img src="destination-page/hero-img-maldiverne.png" alt="Maldives" width="" height=""> 
</section>
</article>
<TravelSection/>
<TravelSection2/>

</MainLayout>
