---
import MainLayout from "../layouts/MainLayout.astro"
import HeroSection from "../components/index/HeroSection.astro"
import FirstTravelSection from "../components/index/FirstTravelSection.astro"
import Newsletter from "../components/general/Newsletter.astro"
import InstagramSection from "../components/general/InstagramSection.astro"
import Raadgivning from "../components/general/Raadgivning.astro"
import OmOsLanding from "../components/index/OmOsLanding.astro"
import TravelBlog from "../components/index/TravelBlog.astro"
---

<MainLayout title="Rejselyst">
    <HeroSection/>
    <div class="margin">
    <OmOsLanding/>
    </div>  
    <FirstTravelSection/>
    <div class="margin">
    <TravelBlog/>
    </div>
    <Newsletter/>
    <div class="margin">
    <InstagramSection/> 
    </div>
    <Raadgivning/>
</MainLayout>



<style>

.margin {
    margin: 2.5rem
}
</style>