---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
---

<MainLayout title="Rejselyst">
    <h1>Dine rejsedrømme kan godt gå i opfyldeldse</h1>
    <div><BTNPrimary data="KNAP TEST"/></div>
</MainLayout>



<style>
    h1 {
        color: var(--heading-1);
    }
</style>