---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
---

<MainLayout title="Rejselyst">
    <h1 class="h1-display">Dine rejsedrømme kan godt gå i opfyldeldse</h1>
    <div><BTNPrimary data="KNAP TEST"/></div>
</MainLayout>



<style>

</style>