---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
import ContactForm from "../components/contact/ContactForm.astro"
import OurValues2 from "../components/contact/OurValues2.astro"
---

<MainLayout title="Kontakt Os">
        <div class="hero-heading div1">
            <span class="forridder-second">KONTAKT OS</span>
            <h1 class="h1-display-small">Sådan gør du</h1>
    </div>
    <OurValues2/>
    <ContactForm/>
</MainLayout>

<style>

.div1 {
    padding-top: 160px;
}

</style>