---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
---

<MainLayout title="Kontakt Os">
    <h1 class="h1-display-small">Sådan gør du</h1>
</MainLayout>