---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
import ContactForm from "../components/contact/ContactForm.astro"
import OurValues2 from "../components/contact/OurValues2.astro"
---

<MainLayout title="Kontakt Os">
    <div class="margin">
    <h1 class="h1-display-small">Sådan gør du</h1>
    <div class="hero-heading div1">
        <span class="forridder">KONTAKT OS</span>
        <h1 class="h1-display-small">Sådan gør du</h1>
    </div>
    <OurValues2/>
    </div>
    <ContactForm/>
</MainLayout>

<style>

    .margin {
        margin: 2.5rem;
    }
</style>