---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
import OmOsInfo from "../components/om-os/OmOsInfo.astro"
import PostCard from "../components/om-os/PostCard.astro"
import ThomasSection from "../components/om-os/ThomasSection.astro"
import Newsletter from "../components/general/Newsletter.astro"
import InstagramSection from "../components/general/InstagramSection.astro"
---

<MainLayout title="Om os">
    <article class="hero-second">
        <section class="hero-heading">
            <span class="forridder">OM OS</span>
            <h1 class="h1-display-small">Hvem er dine rejserådgivere?</h1>
        </section>
        <section class="hero-paragraph-img">
            <p class="paragraph-medium">Det er vi, Matti Saastamoinen Binderup og dagligt driver jeg rejsebureauet med min bedre halvdel, Tina Andrea Frydenlund Nielsen. Vi er et lille rejsebureau, og vi er ambitiøse og sætter en dyd i at yde professionel rådgivning. Vores ambitioner er ikke at være store, men at byde dig velkommen til et univers, hvor vores DNA skinner igennem. </p>
            <img src="../om-os/IMG_9409.jpg" alt="Tina og Matti" width="" height=""> 
        </section>
    </article>
    <OmOsInfo/>
    <PostCard/>
    <ThomasSection/>
    <Newsletter/>
    <InstagramSection/>
</MainLayout>