---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
---

<MainLayout title="Om os">
    <h1>Sådan gør du</h1>
</MainLayout>