---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
import TravelTypeSection from "../components/rejseforslag/TravelTypeSection.astro"
---

<MainLayout title="Rejseforslag">
    <article class="hero-second">
        <section class="hero-heading">
    <TravelTypeSection/>  
</section>


</article>
</MainLayout>