---
import MainLayout from "../layouts/MainLayout.astro"
import BTNPrimary from "../components/general/BTNPrimary.astro"
import BTNSecondary from "../components/general/BTNSecondary.astro"
import TravelSection from "../components/rejseforslag/TravelSection.astro"
import SecondTravelSection from "../components/rejseforslag/SecondTravelSection.astro"
import ThirdTravelSection from "../components/rejseforslag/ThirdTravelSection.astro"
import IconSection from "../components/rejseforslag/IconSection.astro"
import Newsletter from "../components/general/Newsletter.astro"
import InstagramSection from "../components/general/InstagramSection.astro"
---

<MainLayout title="Rejseforslag">
<div class="margin">
<article class="hero-second">
<section class="hero-heading">
<TravelSection/>  
</section>
</article>
</div>
<SecondTravelSection/>
<ThirdTravelSection/>
</div>
<IconSection/>
<Newsletter/>
<InstagramSection/>
</section>

</MainLayout>


<style>
    .margin {
        margin:var(--space-horisontal-margin-small, 60px);
    }
</style>