---
import BTNPrimary from "../general/BTNPrimary.astro"

---

<article>

    <section class="travel-upper-section">
            <div>
                <span class="forridder">REJSEFORSLAG</span>
            <h2 class="h2-display">Find din destination</h2>
                </div>
            <div>
    <div class="content">
            <div class="travel1">
                <img src="/destination-page/gr_t_upper_img1.webp" alt="Maldives" width="" height="" class="responsive1">
            <div class="text-btn-gap">
            <div class="text-gap">
                <h6 class="h6">GRÆKENLAND</h6>
                <p class="paragraph-small">Grækenland byder på solsikkert klima, øhop og smukke strande, kulturelle oplevelser, cykel -og vandreruter for de aktive og en kulinarisk scene, der efter vores mening er en af de bedste i Europa.</p>
            </div>
            <div>
                <a href="/destinations/Grækenland"><div><BTNPrimary data="SE REJSE"/></div></a>
                </div>
           </div>
        </div>
        <div class="travel1">
            <div>
               <img src="/destination-page/se_t_upper_img1.webp" alt="image" width="" height="" class="responsive1">
                <div class="text-btn-gap">
                <div class="text-gap">
                    <h6 class="h6">SEYCHELLERNE</h6>
                    <p class="paragraph-small">Seychellerne er et eksotisk og uberørt bountyland midt i Det Indiske Ocean. Se frem til unikke naturoplevelser, cykel –og vandreture i idylliske gsdage.</p>
                </div>
                <div>
                    <a href="/destinations/Seychellerne"><div><BTNPrimary data="SE REJSE"/></div></a>
                    </div>
               </div>
            </div>
            <div>
            </div>     
        </section>
    
        <section class="travel-lower-section">
    
        <div>
                <span class="forridder">REJSETYPER</span>
                <h2 class="h2-display">Udvalgte rejseforslag</h2>
                </div>
            <div>
        <div class="content">
         <div class="travel">
            <img src="/destination-page/th_t_lower_img1.webp" class="responsive2" alt="Maldives" width="" height="">
            <div class="text-btn-gap">
            <div class="text-gap">
                <span class="forridder">THAILAND</span>
                <h6 class="h6">TOPPEN AF ECOLUKSUS</h6>
                <p class="paragraph-small">På Soneva Kiri vil I nyde godt af privat butler, smukke strande, børneklub og spa. </p>
                <span class="inline-text">7 nætter fra 99.000 kr. i alt for 4 pers. </span>
            </div>
            <div>
                <a href="/rejseforslag.html"><BTNPrimary data="SE REJSE"/></a>
                </div>
           </div>
        </div>
    
            <div class="travel">
                <img src="/destination-page/maldives.webp" class="responsive2" alt="image" width="" height="">
                <div class="text-btn-gap">
                <div class="text-gap">
                    <span class="forridder">MALDIVERNE</span>
                    <h6 class="h6">BARFODSLUKSUS
                    </h6>
                    <p class="paragraph-small">Drømmer I om at opleve små ø-samfund hvor tiden står stille? </p>
                    <span class="inline-text">7 nætter fra 135.000 kr. i alt for 4 pers.</span>
                </div>
                <div>
                    <a href="/rejseforslag.html"><BTNPrimary data="SE REJSE"/></a>
                    </div>
               </div>
            </div>
    
    
                <div class="travel">
                   <img src="/destination-page/oman.webp" class="responsive2" alt="Maldives" width="" height="">
                    <div class="text-btn-gap">
                    <div class="text-gap">
                        <span class="forridder">OMAN</span>
                        <h6 class="h6">ROADTRIP I OMAN</h6>
                        <p class="paragraph-small">Oplev unikke naturscenarier, vandreture til små landsbyer og forkælelse på to af de bedste hoteller i Oman. </p>
                        <span class="inline-text">7 nætter fra 26.000 kr. pr. person </span>
                    </div>
                    <div>
                        <a href="/rejseforslag.html"><BTNPrimary data="SE REJSE"/></a>
                    </div>
                   </div>
                </div>
        </div>
            
        </section>
    
        
    </article>

<style>
/* 
    .img2 {
        max-width: 500px;
        height: 40%;
        object-fit:cover;
    }

    .img1 {
        max-width: 420px;
        height: 65%;
        object-fit:cover;
    } */

    img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    }

    .responsive1 {
  height: 300px; 
  width: 100%; 
  max-width: auto;
  object-fit: cover;
}

.responsive2 {
    height: 200px; 
  width: 100%; 
  max-width: auto;
  object-fit: cover;
}



    .article {
        background-color: var(--surface-secondary, #FFFFE9);
        display: flex;
        padding-top: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--space-horisontal-gap-xxlarge, 50px);
        padding: var(--space-horisontal-margin-medium, 80px) var(--size-spacing-space-7, 30px);

        gap: 40px;

    }

    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-vertical-gap-small);
        padding-bottom: var(--space-horisontal-gap-xlarge, 30px);
        padding: 0px var(--space-horisontal-margin-xsmall, 40px);

    }

    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
        gap: var(--space-vertical-gap-small);
        padding: 0px var(--space-horisontal-margin-xsmall, 40px);
        padding-top: var(--space-horisontal-gap-xlarge, 30px);
    }

    .text-btn-gap {
    display: flex;
    flex-direction: column;
    gap: var(--space-horisontal-gap-medium, 20px);
    justify-content: left;
    }

    .text-gap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding-top: 16px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    @media only screen and (min-width: 992px) {
        

        article {
            gap: var(--space-horisontal-gap-xxlarge, 50px);
            padding: var(--space-horisontal-gap-xlarge, 30px) var(--space-vertical-margin-small, 30px);
            background-color: var(--surface-secondary, #FFFFE9);
            display: flex;
        flex-direction: column;
        padding-top: var(--space-vertical-gap-large, 130px);
        padding-bottom: var(--space-vertical-gap-large, 130px);



        }
        
        .travel-upper-section {
        display: flex;
       flex-direction: row;
        gap: var(--space-horisontal-gap-xxxlarge);
        padding-bottom: var(--space-horisontal-gap-xlarge, 30px);

    }

    .content {
        display: flex;
        flex-direction: row;
        gap: var(--space-vertical-gap-small);
    

    }


    .travel-lower-section {
        display: flex;
       flex-direction:row;
    
        gap: var(--space-horisontal-gap-xxxlarge);
        padding-top: var(--space-horisontal-gap-xlarge, 30px);
    }
    

    /* .responsive1 {
  height: 350px; 
  width: 470px; 
  max-width: 470px;
  object-fit: cover;
}

.responsive2 {
  height: auto; 
  width: 300px; 
  max-height: px; 
  object-fit: cover;
} */


    .responsive1 {
  height: 350px; 
  width: 100%; 
  object-fit: cover;
}

.responsive2 {
    height: 250px; 
  width: 100%; 
  object-fit: cover;
}

.travel {
    width: 20.15vw;
}

.travel1 {
    width: 32vw;
    
}

}

   
</style>


<script>

    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.from(".travel-upper-section", {
        yPercent:50,
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
            trigger: ".travel-upper-section",
            start: "top 80%",  
            end: "bottom 70%", 
            scrub: true,
      }
    });

    gsap.from(".travel-lower-section", {
        yPercent:50,
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".travel-lower-section",
          start: "top 80%",  
            end: "bottom 70%", 
          scrub: true,
      }
    }); 

    </script>
    