<section>
    <video src="../video/hero-video.mp4"autoplay muted loop ></video>
    <div class="h1txt">
        <h1 class="h1-display">Dine <div class="h1-display-italic">rejsedrømme</div>kan godt gå i opfyldeldse</h1>
    </div>
    <div class="maldiverlink">
        <li><a class="link-text-large" href="/destinationer.html"> REJS TIL MALDIVERNE</a></li>
        <img src="../svg/redarrow.svg" alt="Rød pil">
    </div>
</section>

<style>

    .maldiverlink {
        display: flex;
        gap: 10px;
        position: absolute; 
            z-index: 1;
            top: 88%;
            padding: var(--space-horisontal-gap-medium, 20px);
            gap: var(--space-horisontal-margin-small, 60px);

    }

    .maldiverlink a {
        color: var(--red500);
        text-decoration: none;
        list-style-type: none;
    }

    .maldiverlink li {
        list-style-type: none;
    }

    section {
        position: relative;
        margin-top:-8rem;
        z-index: -100;
    }
    video {
        position: relative;
        width: 100vw;
        height: 100vh;
        top: 100%;
        left: 0;
        object-fit: cover;
        z-index: -1;
        overflow-y: hidden;
        }

        h1 {
        position: absolute; 
        z-index: 1;
        top: 30%;
        width: 11ch;
        padding: var(--space-horisontal-gap-medium, 20px);
        }

        @media only screen and (min-width: 992px) {
        video {
        position: relative;
        width: 100%;
        height: auto;
        top: 100%;
        left: 0;
        object-fit: cover;
        z-index: -1;
        }

        h1 {
        position: absolute; 
        z-index: 1;
        top: 10%;
        width: 11ch;
        margin: 2.5rem;
        padding:0;

        }

        section {
        position: relative;
        margin-top:-8rem;
        z-index: 10;
        }

        .maldiverlink {
        display: flex;
        gap: 10px;
        position: absolute; 
            z-index: 1;
            top: 88%;
            left: 70%;
            margin: 0px;
    }
        }
</style>

