---
import BTNSecondary from "../general/BTNSecondary.astro";
import OurValues from "../general/OurValues.astro";

---

<article>

    <div class="om-os-left">
    
        <img src="img/om-os-landing.webp" alt="Billede af Matti og Tina som ejer Rejeslyst" class="img1">

    <div class="text-section">
    <div class="heading">
    <h2 class="h2-display">Et <span class="h2-italic">personligt</span> rejsebureau, <span class="h2-italic">skræddersyede</span> oplevelser, <span class="h2-italic">håndplukkede</span> destinationer</h2>
    </div>
    </div>
    </div>

    <div class="paragraph">
        <div><p class="paragraph-medium">Det er mig Matti, du får i røret, når du ringer til os - og sammen med min bedre halvdel, Tina, driver jeg rejsebureauet. Stederne, vi udbyder, har vi selv besøgt, så vi kender dem til fingerspidserne. Ekspertise, personlig service, ærlig rådgivning og fingeren på pulsen får du hos os!</p></div>
        <div class="btn"><BTNSecondary data="LÆS OM OS"/></div>
    </div>


    </section>

</article>

<style>

article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2px;
    padding-top: 60px;
    padding-bottom: 60px;

}


.img1 {
width: 250px;
height: 250px;
}

.text-section {
  
}

.om-os-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
position: relative;
top:-30px;
text-align: center;
}


.paragraph {
    display: flex;
    flex-direction: column;
    gap: var(--space-horisontal-gap-medium, 20px);

}


@media only screen and (min-width: 992px) {
article {
    display: flex;
    align-items: center;
    flex-direction: row;
    row-gap: var(--space-horisontal-gap-xxxlarge, 80px);
    padding:var(--space-vertical-gap-large, 130px) 80px;

}


.img1 {
width: 431px;
height: 442px;
}

.text-section {
    width: 365px;
}

.om-os-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading {
position: relative;
left:-20%;
top:0;
text-align: center;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: var(--space-horisontal-gap-medium, 20px);
    justify-content: left;
    align-items: left;
    text-align: left;
}

.btn {
    display: flex;
    align-items: left;
    justify-content: left;
}

}

</style>

