<svg xmlns="http://www.w3.org/2000/svg" style="display: none; color:black">
  <symbol viewBox="0 0 43.763 23.214">
      <g id="arrow-left" transform="translate(2.886 2.823)">
          <line id="Line_183" data-name="Line 183" x1="38.495" transform="translate(0.382 8.862)" fill="none"
              stroke-linecap="round" stroke-miterlimit="10" stroke-width="4" />
          <line id="Line_184" data-name="Line 184" y1="8.205" x2="9.256" transform="translate(0.382 0)"
              fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4" />
          <line id="Line_185" data-name="Line 185" x2="10" y2="9" transform="translate(-0.062 8.566)" fill="none"
              stroke-linecap="round" stroke-miterlimit="10" stroke-width="4" />
      </g>
  </symbol>
  <symbol id="arrow" viewBox="0 0 400.004 400.004" style=" color:black; :new 0 0 400.004 400.004;"
      xml:space="preserve">
      <g>
          <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
      c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
      c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
      C400.004,190.438,392.251,182.686,382.688,182.686z" />
      </g>
  </symbol>
</svg>

<section class="half-color-box">
      <div class="swiper-container swiper-testimonial">
        <div class="citat-icon"><p>"</p></div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="review-box">
                  <p class="read testimonial-text">
                    Der ingen tvivl om, at Rejselyst.dk har gjort deres forarbejde grundigt, når de strikker en tur sammen til deres kunder, og hele forløbet er meget personligt og trygt - virkelig en kundeoplevelse i særklasse!
                  </p>
                  <img class="quote" src="img/icons/quote.svg" alt="">
                  <div class="media">
                    <div class="media-body">
                      <a href="https://dk.trustpilot.com/review/rejselyst.dk"><h5 class="name">Nana, Trustpilot</h5></a>
                    </div>
                </div>
              </div>
          </div>
              <div class="swiper-slide">
                <div class="review-box">
                    <p class="read testimonial-text">
                      Vi har efterhånden rejst med mange forskellige rejseselskaber og vil til hver en tid lægge mine penge hos Matti og co. fremfor andre steder. Intet kan måles med deres service niveau! 5 meget store stjerner herfra. 
                    </p>
                    <img class="quote" src="img/icons/quote.svg" alt="">
                    <div class="media">
                      <div class="media-body">
                        <a href="https://dk.trustpilot.com/review/rejselyst.dk"><h5 class="name">Henrik, Trustpilot</h5></a>
                      </div>
                  </div>
                </div>
            </div>
               <div class="swiper-slide">
                <div class="review-box">
                    <p class="read testimonial-text">
                      Stedet der var fundet til os var mere end hvad vi havde turde drømme om og de satte sig ind i alle vores ønsker og drømme med turen.

Næste drømmerejse skal helst sikkert også bestilles gennem rejselyst                    </p>
                    <img class="quote" src="img/icons/quote.svg" alt="">
                    <div class="media">
                      <div class="media-body">
                        <a href="https://dk.trustpilot.com/review/rejselyst.dk"><h5 class="name">Linda, Trustpilot</h5></a>
                      </div>
                  </div>
                </div>
            </div> 
              <div class="swiper-slide">
                  <div class="review-box">
                      <p class="read testimonial-text">
                        Vi kan varmt anbefale at købe en rejse til Maldiverne gennem Rejselyst. Det er nemt, pålideligt og Matti & Co. er super skarpe til at skræddersy ens rejse efter behov.

Det er bestemt ikke sidste gang vi køber en rejse gennem Rejselyst! 
                      </p>
                      <img class="quote" src="img/icons/quote.svg" alt="">
                      <div class="media">
                        <div class="media-body">
                            <a href="https://dk.trustpilot.com/review/rejselyst.dk"><h5 class="name">Simon, Trustpilot</h5></a>
                        </div>
                    </div>
                  </div>
              </div> 
          </div>
          <div class="container spacer por">
            <div class="test-arrowbox">
      
                <div class="swiper-button-prev-test">
                    <svg fill="black" height="30" class="arrow left">
                        <use xlink:href="#arrow" />
                    </svg>
                </div>
                <div class="swiper-button-next-test">
                    <div class="arrow-right">
                        <svg fill="black" height="30" width="30" class="arrow">
                            <use xlink:href="#arrow" />
                        </svg>
                    </div>
      
                </div>
            </div>
      </div>
  </div>

</section>

<style>

.citat-icon {
    color: #FF5635;
    font-style: normal;
    font-family: "Wulkan Display";
font-size: 600px;
position: absolute;
z-index: -1;
left: 8%;

  }

  section {
    margin:0;
  padding-left:6rem;
  }
  .review-box {
    gap: var(--space-horisontal-gap-xsmall, 10px);
    width: 600px;
  }

.text-center {
  text-align:center;
  
}


.name {
  color: var(--text-body, #2F2F2F);
font-family: "Be Vietnam Pro";
font-size: 15px;
font-style: italic;
font-weight: 100;
line-height: 28px;
}

.bg-color {
  background: var(--bg-color);
}

.half-color-box {
  background: var(--gradient);
  height: 300px;
}


.por {
  position: relative;
}

.review-box .quote {
  position: absolute;
  width: 40px;
  right: 10px;
  bottom: 10px;
}

.test-arrowbox {
  position: absolute;
  right: 20px;
  display: flex;
}

.review-box {
  padding: 80px;
}

.review-box h5 {
  margin: 0;
}

.review-box p {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 27px;
  margin-top: 10px;
  font-weight: 200;
}

.user-post {
  font-size: 14px;
  margin: 0 !important;
 
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 7rem;
  overflow-y: hidden;
}

.swiper-testimonial {
  padding: 100px 20px;
  padding-top: 30px;
}

.half-color-box {
  background: var(--gradient);
  height: 300px;
  margin-bottom: 140px;
}

.test-arrowbox .swiper-button-next-test,
.test-arrowbox .swiper-button-prev-test {
  margin-right: 20px;
color:#2F2F2F;
  border-radius: 50%;
  --size: 55px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-right {
  transform: rotate(180deg);
  margin-top: -8px;
}

.arrow {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.arrow:hover {
  transform: translateX(-15px);
}
@media only screen and (min-width: 992px) {

  .citat-icon {
    color: #FF5635;
    font-style: normal;
    font-family: "Wulkan Display";
font-size: 600px;
position: absolute;
z-index: -1;
left: 8%;

  }

  section {
    margin:0;
  padding-left:6rem;
  }
  .review-box {
    gap: var(--space-horisontal-gap-xsmall, 10px);
    width: 600px;
  }

.text-center {
  text-align:center;
  
}


.name {
  color: var(--text-body, #2F2F2F);
font-family: "Be Vietnam Pro";
font-size: 15px;
font-style: italic;
font-weight: 100;
line-height: 28px;
}

.bg-color {
  background: var(--bg-color);
}

.half-color-box {
  background: var(--gradient);
  height: 300px;
}


.por {
  position: relative;
}

.review-box .quote {
  position: absolute;
  width: 40px;
  right: 10px;
  bottom: 10px;
}

.test-arrowbox {
  position: absolute;
  right: 20px;
  display: flex;
}

.review-box {
  padding: 80px;
}

.review-box h5 {
  margin: 0;
}

.review-box p {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 27px;
  margin-top: 10px;
  font-weight: 200;
}

.user-post {
  font-size: 14px;
  margin: 0 !important;
 
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 7rem;
}

.swiper-testimonial {
  padding: 100px 20px;
  padding-top: 30px;
}

.half-color-box {
  background: var(--gradient);
  height: 300px;
  margin-bottom: 140px;
}

.test-arrowbox .swiper-button-next-test,
.test-arrowbox .swiper-button-prev-test {
  margin-right: 20px;
color:#2F2F2F;
  border-radius: 50%;
  --size: 55px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-right {
  transform: rotate(180deg);
  margin-top: -8px;
}

.arrow {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.arrow:hover {
  transform: translateX(-15px);
}

}
</style>

<script>

  var swiper = new Swiper('.swiper-container.swiper-testimonial', {
    slidesPerView: 3,
    spaceBetween: 250,
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
    },
    navigation: {
        nextEl: '.swiper-button-next-test',
        prevEl: '.swiper-button-prev-test',
    },

    
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>