---
import BTNPrimary from "../general/BTNPrimary.astro"
---

<article>
    <div class="gsap-heading">
<div class="heading">
<span class="forridder">REJSELYST BLOG</span>
<h4 class="h3-display">Lad dig <span class="h3-italic">inspirere</span> gennem vores rejseeventyr</h4>
</div>
</div>
<section class="blog-post">

<div class="blog-post-1">
    <div class="upper">
    <span class="dato">29. SEPTEMBER 2019</span>
    <img src="img/blog1.webp" alt="" class="blog-img">
    </div>
    <div class="lower">
    <h6 class="h6">5 DRØMMEHOTELLER DU SKAL BESØGE</h6>
    <div><BTNPrimary data="LÆS MERE"/></div>
    </div>
</div>


<div class="blog-post-2">
    <div class="upper">
    <span class="dato">18. MARTS 2021</span>
    <img src="img/blog2.webp" alt="" class="blog-img">
    </div>
    <div class="lower">
    <h6 class="h6">Q&A OM MALDIVERNE</h6>
    <div><BTNPrimary data="LÆS MERE"/></div>
    </div>
</div>


<div class="blog-post-3">
    <div class="upper">
    <span class="dato">12. JANUAR 2020</span>
    <img src="img/blog3.webp" alt="" class="blog-img">
    </div>
    <div class="lower">
    <h6 class="h6">DERFOR SKAL DU BESØGE OMAN</h6>
    <div><BTNPrimary data="LÆS MERE"/></div>
    </div>
</div>



</section>

</article>

<style>

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-horisontal-gap-xlarge, 30px);
    padding-top: 130px;
    padding-bottom: 130px;
    margin: 15px;
    position: relative;
}

article::before {
        content: "";
        position: absolute;
        top: 35rem; /* Exceeds the top of the container by 5rem */
        /* left: -5rem; */
        width: 100vw;
        height: calc(100% + 5rem); /* Covers the entire height of the article plus 5rem */
        background-color: var(--surface-secondary); /* Background color */
        z-index: -1; /* Ensure the pseudo-element is behind other content */
    }

.blog-img {
width: 250px;
height: auto;
}


.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
}

.dato {
    color: var(--text-body, #2F2F2F);
/* inline-text */
font-family: "Be Vietnam Pro";
font-size: 15px;
font-style: italic;
font-weight: 400;
line-height: normal;
}

.blog-post{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: var(--space-vertical-gap-medium, 50px);
}

.blog-post-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 250px;
    align-items: center;
    text-align: left;
}

.blog-post-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 250px;
    text-align: left;
}

.blog-post-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 250px;
    align-items: center;
    text-align: left;
}

.upper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lower {
    display: flex;
    flex-direction: column;
    gap: var(--space-horisontal-gap-medium, 20px);

}

@media only screen and (min-width: 992px) { 

.blog-img {
width: 400px;
height: auto;

}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 530px;
}

.blog-post{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: var(--space-vertical-gap-medium, 50px);
}

.blog-post-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    align-items: flex-start;
}

.blog-post-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 100px;
    max-width: 400px;
    align-items: flex-start;
}

.blog-post-3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    align-items: flex-start;
}

.upper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lower {
    display: flex;
    flex-direction: column;
    gap: var(--space-horisontal-gap-medium, 20px);

}

}

</style>


<script>
