---
import "../styles/style.css"
import "../styles/mobil.css"
import "../styles/desktop.css"
import "../styles/stylefonts.css"
const { title } = Astro.props;
import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro";
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <meta
		name="description"
		content="Rejselyst er et rejsebureau ejet af Matti og Tina. De specialiserer sig i skræddersyede rejser til Maldiverne og andre luksus destinationer og hoteller, håndplukket og testet af dem selv. "
	    />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <Header/>
		<slot/>
        <Footer/>
	</body>
</html>
