<article>
    <div>
        <h2 class="h3-display">Fakta om Maldiverne</h2>
        </div>
    <div>
        <div class="dropdown">
            <div class="dropdown-btn-line">
            <span class="h6">SPROG</span>
            <img src="destination-page/plus-icon.png" alt="" width="17" height="auto">
            </div>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>

</article>

<style>

    .article {
        
    }

    .dropdown {
        max-width: 1000px;
    }

    .dropdown-btn-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1000px;
    }

</style>