---
const { data } = Astro.props;
---

<a class="link" href={`/destinations/${data.title}`} >
      <!-- Bruger title istedet for slug, da jeg ikke har oprettet en slug i vores Supabase -->
      <h2>{data.title}</h2>
</a>

