---
import BTNPrimary from "../general/BTNPrimary.astro"

const { data } = Astro.props;
console.log(data);
---

<article>

    <section class="travel-upper-section">
        <div>
            <span class="forridder">Maldiverne</span>
            <h2 class="h2-display">Udvalgte rejseforslag</h2>
            </div>
        <div>
<div class="content">
        <div>
    <img src="destination-page/greece.png" alt="Maldives" width="" height="" class="responsive1">
        <div class="text-btn-gap">
        <div class="text-gap">
            <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
            <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
            <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
        </div>
        <div>
            <div><BTNPrimary data="SE REJSE"/></div>
            </div>
       </div>
    </div>
    <div>
        <div>
           <img src="destination-page/image2.jpg" alt="Maldives" width="" height="" class="responsive1">
            <div class="text-btn-gap">
            <div class="text-gap">
                <h6 class="h6">LAID BACK BARFODSLUKSUS</h6>
                <p class="paragraph-small">Home away from home. Det er store ord, men på alle måder, hvad en rejse til Gili Lankanfushi er - og mere til. Her lander du i rolige paradisomgivelser på øen, hvor virkeligheden overstiger forventningerne. Niveauet for service, gourmetmad og gæsteoplevelser når nye højde. Her ankommer du som gæst, forlader som ven og vender tilbage som familie.</p>
                <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
            </div>
            <div>
                <div><BTNPrimary data="SE REJSE"/></div>
                </div>
           </div>
        </div>
        <div>
        </div>     
    </section>

    <section class="travel-lower-section">

    <div>
            <span class="forridder">REJSETYPER</span>
            <h2 class="h2-display">Udvalgte rejseforslag</h2>
            </div>
        <div>
    <div class="content">
     <div>
        <img src="destination-page/travel-small-1.png" class="responsive2" alt="Maldives" width="" height="">
        <div class="text-btn-gap">
        <div class="text-gap">
            <h6 class="h6">FOR DE VOKSNE</h6>
            <p class="paragraph-small">Barfodsluksus på det luksuriøse resort Kandolhu, som er målrettet par og bryllupsrejsende, der foretrækker kvalitet, romantik og rolige stunder. Niveauet er gennemgående højt, snorklingrevet er fænomenalt, og maden og vinen sætter endeligt prikken over i’et.</p>
            <span class="inline-text">8 nætter. Fra 33.000 pr. person. </span>
        </div>
        <div>
            <div><BTNPrimary data="SE REJSE"/></div>
            </div>
       </div>
    </div>

        <div>
            <img src="destination-page/travel-small-2.png" class="responsive2" alt="Maldives" width="" height="">
            <div class="text-btn-gap">
            <div class="text-gap">
                <h6 class="h6">MALDIVERNE MED BØRN</h6>
                <p class="paragraph-small">Besøg tropeøen Reethi Faru i Raa-atollen, der kun måler 600 x 350 meter. Den grønne jungle vokser vildt, og I kan snorkle direkte fra øen med mulighed for at se blæksprutter, stingrays, havskildpadder, babyhajer og farverige fisk og meget mere.</p>
                <span class="inline-text">Fra 75.000 kr v. voksende og to børn u. 12 år // 10 nætter </span>
            </div>
            <div>
                <div><BTNPrimary data="SE REJSE"/></div>
                </div>
           </div>
        </div>


            <div>
               <img src="destination-page/travel-small-3.png" class="responsive2" alt="Maldives" width="" height="">
                <div class="text-btn-gap">
                <div class="text-gap">
                    <h6 class="h6">THE STANDARD MALDIVES</h6>
                    <p class="paragraph-small">Drømmer I om at bo i water villa med privat pool på Maldiverne? Besøg Raa-atollens mest turkise lagune med direkte adgang fra øen til revet. På The Standard Maldives får I alt, hvad en vaskeægte Maldiverne-oplevelse indebærer.</p>
                    <span class="inline-text">Fra 70.000 kr v. voksne & to børn u. 12 år // 10 nætter </span>
                </div>
                <div>
                 <div><BTNPrimary data="SE REJSE"/></div>
                </div>
               </div>
            </div>
    </div>
        
    </section>

    
</article>

<style>
/* 
    .img2 {
        max-width: 500px;
        height: 40%;
        object-fit:cover;
    }

    .img1 {
        max-width: 420px;
        height: 65%;
        object-fit:cover;
    } */

    img {
    max-width: 100%;
    height: auto;
    display: block;
    }



    .article {
        background-color: var(--surface-secondary, #FFFFE9);
        display: flex;
        padding-top: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--space-horisontal-gap-xxlarge, 50px);
        padding: var(--space-horisontal-gap-xlarge, 30px) var(--space-vertical-margin-small, 60px);
    }

    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-vertical-gap-small);
        padding-bottom: var(--space-horisontal-gap-xlarge, 30px);

    }

    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
        gap: var(--space-vertical-gap-small);
        padding-top: var(--space-horisontal-gap-xlarge, 30px);
    }

    .text-btn-gap {
    display: flex;
    flex-direction: column;
    gap: var(--space-horisontal-gap-xlarge, 30px);
    justify-content: left;
    }

    .text-gap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding-top: 16px;
    }

    @media only screen and (min-width: 992px) {
        

        article {
            gap: var(--space-horisontal-gap-xxlarge, 50px);
            padding: var(--space-horisontal-gap-xlarge, 30px) var(--space-vertical-margin-small, 60px);
            background-color: var(--surface-secondary, #FFFFE9);
            padding-top: 250px;
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        }
        
        .travel-upper-section {
        display: flex;
       flex-direction: row-reverse;
        padding-bottom: 30px;
        gap: var(--space-horisontal-gap-xxxlarge);
        padding-bottom: var(--space-horisontal-gap-xlarge, 30px);

    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        gap: var(--space-vertical-gap-small);

    }


    .travel-lower-section {
        display: flex;
       flex-direction:row-reverse;
        gap: var(--space-horisontal-gap-xxxlarge);
        padding-top: var(--space-horisontal-gap-xlarge, 30px);
    }

    .responsive1 {
  height: 350px; 
  width: 500px; 
  object-fit: cover;
}

.responsive2 {
  height: 250px; 
  width: 400px; 
  object-fit: cover;
}
}

   
</style>


<script>

    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    gsap.registerPlugin(ScrollTrigger);
    
    gsap.from(".travel-upper-section", {
        x: -700,
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
            trigger: ".travel-upper-section",
            start: "top 90%",  
            end: "bottom 80%", 
            scrub: true,
      }
    });

    gsap.from(".travel-lower-section", {
        x: -700,
        duration: 3,
        opacity: 0,
        stagger: 0.2,
        scrollTrigger: {
          trigger: ".travel-lower-section",
          start: "top 90%",  
            end: "bottom 80%", 
          scrub: true,
      }
    });

    </script>
    