---
import BTNPrimary from "../general/BTNPrimary.astro"
---

<article>
    <div>
        <span class="forridder">MALDIVERNE</span>
        <h2>Udvalgte rejseforslag</h2>
        </div>
    <div>
    <section class="travel-upper-section">
        <div>
        <img src="destination-page/travel-big-1.png" alt="Maldives" width="" height="">
        <div>
        <div>
            <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
            <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
            <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
        </div>
        <BTNPrimary/>
       </div>
    </div>
    <div>
        <div>
            <img src="destination-page/travel-big-2.png" alt="Maldives" width="" height="">
            <div>
            <div>
                <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
                <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
                <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
            </div>
            <BTNPrimary/>
           </div>
        </div>
        <div>
        
    </section>

    <section class="travel-lower-section">
        <div>
        <img src="destination-page/travel-small-1.png" alt="Maldives" width="" height="">
        <div>
        <div>
            <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
            <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
            <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
        </div>
        <BTNPrimary/>
       </div>
    </div>
    <div>
        <div>
            <img src="destination-page/travel-small-2.png" alt="Maldives" width="" height="">
            <div>
            <div>
                <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
                <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
                <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
            </div>
            <BTNPrimary/>
           </div>
        </div>
        <div>
            <div>
                <img src="destination-page/travel-small-3.png" alt="Maldives" width="" height="">
                <div>
                <div>
                    <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
                    <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
                    <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
                </div>
                <BTNPrimary/>
               </div>
            </div>
        
    </section>

    
</article>

<style>

    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;

    }

    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr;
    }


    @media only screen and (min-width: 992px) {
        
        
        .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

   
</style>