---
import BTNPrimary from "../general/BTNPrimary.astro"
---


<article>

<div class="head-center">
    <span class="forridder">MALDIVERNE</span>
    <h3 class="h3-display">Udvalgte øer og hoteller</h3>
</div>

<section>
<div class="travel-place">
<div><img src="destination-page/image2.jpg" alt="Maldives" width="" height=""></div>
    <div class="aside">
        <div class="text-gap">
        <h6 class="h6">GILI LANKANFUSHI, MALDIVERNE</h6>
        <p class="paragraph-small">Home away from home. Det er store ord, men på alle måder, hvad en rejse til Gili Lankanfushi er - og mere til. Her lander du i rolige paradisomgivelser på øen, hvor virkeligheden overstiger forventningerne. Niveauet for service, gourmetmad og gæsteoplevelser når nye højde. Her ankommer du som gæst, forlader som ven og vender tilbage som familie.</p>
    </div>
    <div>
        <div><BTNPrimary data="SE REJSE"/></div>
        </div>
   </div>
</div>

<div class="travel-place">
    <div><img src="destination-page/image3.jpg" alt="Maldives" width="" height=""></div>
    <div class="aside">
        <div class="text-gap">
        <h6 class="h6">REETHI FARU, MALDIVERNE</h6>
        <p class="paragraph-small">Reethi Faru ligger på en privat og uforstyrret ø på Maldiverne, som indbyder til verdensklasse snorkling, aktiviteter for hele familien og ren afslapning. Her er synligt fokus på ansvarlig hoteldrift, kvaliteten er gennemgående høj, og så får du rigtig meget for pengene på Reethi Faru. Glæd dig til at opleve det ægte Maldiverne i al sin skønhed, hvor der både er plads til familier, par og solorejsende.</p>
    </div>
    <div>
        <div><BTNPrimary data="SE REJSE"/></div>
        </div>
   </div>
</div>

<div class="travel-place">
    <div><img src="destination-page/image.jpg" alt="Maldives" width="" height=""></div>
    <div class="aside">
        <div class="text-gap">
        <h6 class="h6">KANDOLHU, MALDIVERNE</h6>
        <p class="paragraph-small">På Kandolhu kan du se frem til et ophold på en af Maldivernes mindste øer, der kun måler 150 x 200 meter og omkranses af landets bedste husrev. Det er tid til at smide skoene og nyde tosomheden. Øen er indbegrebet af ro, intimitet og romantik, og det er netop, hvad der gør Kandolhu til det perfekte valg til en bryllupsrejse til Maldiverne.        </p>
    </div>
    <div>
        <div><BTNPrimary data="SE REJSE"/></div>
        </div>
   </div>
</div>

</section>
</article>

<style>

article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-horisontal-gap-xxxlarge, 80px);
        padding-top: var(--space-vertical-gap-large, 130px) 0px;
        padding-bottom: var(--space-vertical-gap-large, 130px) 0px;
    }


    img {

        width: 281px;
      height: 125px;


    }
    section {
        padding: 0px var(--space-vertical-margin-x-large, 160px);
        gap: var(--space-horisontal-gap-xxlarge, 50px);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .travel-place {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-horisontal-gap-medium, 20px);
    display: flex;

    }

    .text-gap {
        display: flex;
        flex-direction: column;
    }

    .aside {
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    gap: var(--space-horisontal-gap-medium, 20px);

    }

    .head-center {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
@media only screen and (min-width: 992px) {

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-horisontal-gap-xxxlarge, 80px);
        padding-top: 130px;
        padding-bottom: 130px;
    }


    img {

        width: 535px;
  height: 235px;
    }
    section {
        padding: 0px var(--space-vertical-margin-x-large, 160px);
        flex-direction: column;
        gap: var(--space-horisontal-gap-xxlarge, 50px);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .travel-place {
    width: 1119px;
    height: 235px;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    gap: var(--space-vertical-gap-small, 40px);

        display: flex;
    }

    .text-gap {
        display: flex;
        flex-direction: column;
    }

    .aside {
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    gap: var(--space-horisontal-gap-medium, 20px);

    }

    .head-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
</style>