---
import BTNPrimary from "../general/BTNPrimary.astro"
---

<article>
    <div>
        <span class="forridder">MALDIVERNE</span>
        <h2 class="h2-display">Udvalgte rejseforslag</h2>
        </div>
    <div>
    <section class="travel-upper-section">
        <div>
        <img src="destination-page/travel-big-1.png" alt="Maldives" width="" height="">
        <div class="text-btn-gap">
        <div class="text-gap">
            <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
            <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
            <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
        </div>
        <div>
            <BTNPrimary/>
            </div>
       </div>
    </div>
    <div>
        <div>
            <img src="destination-page/travel-big-2.png" alt="Maldives" width="" height="">
            <div class="text-btn-gap">
            <div class="text-gap">
                <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
                <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
                <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
            </div>
            <div>
                <BTNPrimary/>
                </div>
           </div>
        </div>
        <div>
        
    </section>

    <section class="travel-lower-section">


     <div>
        <img src="destination-page/travel-small-1.png" class="img2" alt="Maldives" width="" height="">
        <div class="text-btn-gap">
        <div class="text-gap">
            <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
            <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
            <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
        </div>
        <div>
            <BTNPrimary/>
            </div>
       </div>
    </div>

        <div>
            <img src="destination-page/travel-small-2.png" class="img2" alt="Maldives" width="" height="">
            <div class="text-btn-gap">
            <div class="text-gap">
                <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
                <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
                <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
            </div>
            <div>
                <BTNPrimary/>
                </div>
           </div>
        </div>


            <div>
                <img src="destination-page/travel-small-3.png" class="img2" alt="Maldives" width="" height="">
                <div class="text-btn-gap">
                <div class="text-gap">
                    <h6 class="h6">BOUNTYSTRANDE OG LOKALE OPLEVELSER</h6>
                    <p class="paragraph-small">Drømmer I om at opleve små ø-samfund, hvor tiden står stille, og hvor gadesælgere og asfalterede veje er ukendte fænomener? Lad rejsen gå til Maldivernes lokale øer hvor I får indblik i de lokales hverdag og én på opleveren. Guesthouse-stemning, smukke strande, er farverigt marineliv, rolige feriedage og meget mere venter på jer i Det Indiske Ocean.</p>
                    <span class="inline-text">Fra 18.500 kr. pr. person // 10 nætter</span>
                </div>
                <div>
                <BTNPrimary/>
                </div>
               </div>
            </div>
        
    </section>

    
</article>

<style>

    .img2 {
        max-width: 420px;
        height: 420px;
        object-fit:cover;
    }

    .article {
        background-color: var(--surface-secondary, #FFFFE9);
        display: flex;
        padding-top: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--space-horisontal-gap-xxlarge, 50px);
        padding: var(--space-horisontal-gap-xlarge, 30px) var(--space-vertical-margin-small, 60px);
    }

    .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--space-vertical-gap-small);
        padding-bottom: var(--space-horisontal-gap-xlarge, 30px);

    }

    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
        gap: var(--space-vertical-gap-small);
        padding-top: var(--space-horisontal-gap-xlarge, 30px);
    }

    .text-btn-gap {
    display: flex;
    flex-direction: column;
    gap: var(--space-horisontal-gap-xlarge, 30px);
    justify-content: left;
    }

    .text-gap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding-top: 16px;
    }

    @media only screen and (min-width: 992px) {
        

        article {
            gap: var(--space-horisontal-gap-xxlarge, 50px);
            padding: var(--space-horisontal-gap-xlarge, 30px) var(--space-vertical-margin-small, 60px);
            background-color: var(--surface-secondary, #FFFFE9);
            padding-top: 250px;
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        }
        
        .travel-upper-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 30px;
        gap: var(--space-vertical-gap-small);
        padding-bottom: var(--space-horisontal-gap-xlarge, 30px);

    }


    .travel-lower-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--space-vertical-gap-small);
        padding-top: var(--space-horisontal-gap-xlarge, 30px);
    }
}

   
</style>